<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ainfo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .c1
        {
            background-color: rgba(0,0,0,0.1) !important;
            backface-visibility: hidden;
            border-radius: 9px;
            color: white;
            margin-left: 190px;
            margin-top: 60px;
            width: 900px;
            height: 500px;
            padding: 10px;
            box-shadow: 0 8px 20px 0 rgba(255,255,255,0.2);
            text-align: center;
        }
        body
        {
            
            background-color: green;
        }
        .c2
        {
            color: whitesmoke;
            font-size: 60px;
            font-family: cursive;
            text-align: center;
            
        }
        .c3
        {
            height: 1px;
            background-color: white;
        }
        .c4
        {
            font-size: 20px;
            
            text-align: left;
            margin-left: 100px;
            margin-top: 60px;
            font-weight:350;
            letter-spacing: 0.5px;
        }
        
        
    </style>
</head>
<body>
    <div class="c1">
        <div class="c2"> Account Information</div>
        <hr class="c3">
        <div class="c4">

            <div> User Name: <%= data["user"].First_name %>  <%= data["user"].Last_name %> </div>
            <div> Account No : <%= data["user"].Acc_no %> </div>
            <div> Balance : <%= data["user"].Balance %> </div>
            <div> Account Type : <%= data["user"].Acc_type %> </div>
            <div> rate of Interest : <%= data["user"].Interest %> </div>
            <div> Branch Name : <%= data["user"].Name %></div>
            <div> Branch code : <%= data["user"].Branch_Code %></div>
            <div> Branch Address : <%= data["user"].Branch_Address %></div>
            <div> Branch City : <%= data["user"].City %></div>
            
        </div>
        
    </div>
</body>
</html>